@page "/learnBlazor/demoproduct"

<h3 class="text-primary">DemoProduct</h3>
<p>Favorites Total : @FavoriteTotal</p>
<p>Last Selected Product : @Prodcut?.Name</p>

<div class="row p-2 mt-2 bg-info">
    @foreach (var product in Products)
    {
        <_IndividualProduct Product="product" OnFavoriteSelection="UpdateFavoriteTotal" OnProductSelected="UpdateProductSelected" />
    }
</div>

@code {
    private List<Demo_Products> Products = new();
    private int FavoriteTotal { get; set; } = 0;
    private Demo_Products Prodcut { get; set; } = null;

    protected override void OnInitialized()
    {
        Products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blaze",
                IsActive = false,
                Price = 10.99,
                ProductProperties = new()
                {
                    new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
                    new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz"},
                    new Demo_ProductProp { Id = 3, Key = "Color", Value="Purple" }
                }
            });

        Products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 13.99,
                ProductProperties = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz" },
                new Demo_ProductProp {Id = 3,Key = "Color",Value = "White"}
            }
            });
        base.OnInitialized();
    }

    protected void UpdateFavoriteTotal(bool fave)
    {
        if (fave)
        {
            FavoriteTotal++;
        }
        else
        {
            FavoriteTotal--;
        }
    }

    protected void UpdateProductSelected(Demo_Products demoProduct)
    {
        Prodcut = demoProduct;
    }
}
